[submodule "frontend"]
	path = frontend
	url = https://github.com/karthikeyan-ks/ElderCare-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Yadhu121/ElderCare-backend.git
[submodule "healthcore"]
    path = app/libs/healthcore
    url = https://github.com/albinaprasad/health-care.git

[submodule "app/libs/healthcore"]
	path = app/libs/healthcore
	url = https://github.com/albinaprasad/health-care.git
